.pokemon-card {
  width: 260px;

  background: #e0f8d0;
  border: 4px solid #081820;

  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;

  box-shadow: 4px 4px 0px #081820;
  margin: 40px auto;
  
}

/* header tipo HUD de batalha */
.pokemon-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

/* fonte pixel */
.pokemon-name {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #081820;
}

.pokemon-level {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  letter-spacing: 2px;
  color: #081820;
}

/* área do sprite */
.pokemon-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-sprite {
  width: 120px;
  image-rendering: pixelated;
}