.select-card {
  cursor: pointer;
  margin: 0; /* evita conflito com display */
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/* hover */
.select-card:hover {
  transform: translateY(-6px);
  box-shadow: 6px 6px 0px #081820;
}

/* clique (efeito pressionado) */
.select-card:active {
  transform: translateY(0px);
  box-shadow: 2px 2px 0px #081820;
}
.select-card:hover {
  border-color: #dbd4d4;
}