.cycles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.cycleDots {
    display: flex;
    gap: 0.8rem;

}

.cycleDot {
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
}

.workTime {
    background: #ee1515;
}

.shortBreakTime {
    background: #a8b8c8;
}

.longBreakTime {
    background: #70b8f0;
}